
 /*Inicio del diseño del carousel*/
 html,
    body,
    header,
    .carousel {
      height: 100%;
    }
.carousel-empresa{
    height: 100%;
}
.carousel-servicos{
  height: 100%;
}
.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body,html{
    height:100%}.navbar{background-color:rgba(0,0,0,.2)}
    .page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}
    @media (max-width: 360px){
    
    .btn-contactos {
      border: 2px solid white;
      border-radius: 30px;
      font-size: 13px;
  }
    }  
    @media (min-width: 360px)and (max-width: 576px)  {
    
      .btn-contactos {
        border: 2px solid white;
        border-radius: 30px;
        font-size: 15px;
       }

    }
    @media (min-width: 576px) {
    
      .btn-contactos {
        border: 2px solid white;
        border-radius: 30px;
        font-size: 20px;
    }

    }
   


    /*termino de diseño del carousel*/

    .adaptable{
 width: 850px;
        padding-left: 150px;
    }

    .btn .fa {
        margin-left: 3px;
    }

    .top-nav-collapse {
        background-color: #0070C0 !important;
    }

    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }

    @media (max-width: 991px) {
        .navbar:not(.top-nav-collapse) {
            background: #0070C0 !important;
        }
    }

   
    .clientes-responsive{
        background-image: url("img/reunion.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 657px;

    }

   
/*Inicio footer diseño */

.contacto {
        background-image: url("img/contacto.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 200px;
        font-size: 30px;
    }

     @media (max-width: 400px) {
       
.contacto {
  font-size: 26px;
 
}
     }
    @media (max-width: 1200px) {
        .contacto {
       
     height:280px;
    }

    }
/*Fin footer diseño */
    .btn-ver-mas-servicios {
        background-color: #0070C0;
    }

    .seccion-logotipos-tecnologia {
        background-color: #0095FF;
    }

  

    body {
        overflow-x: hidden;
    }
         /*Inicio  de diseño del la seccion de servicios home*/
  .logo-redes {
        width: 25%;
    }
 

    @media (max-width: 1200px) {
      .img-adaptable{
     width: 100%;
       
    }
    .img-motherboard{
      width: 100%;  
}
.img-modem {
  width: 100%;
}

    }
@media (min-width: 1200px) {
  .img-adaptable{
 width: 850px;
        padding-left: 150px;
    }
    .img-motherboard{
 padding-left: 20%;
 width: auto;
   height: 500px;   
}
.img-modem {
 
 width: 500px;
    
}
   
 .clientes {
        background-image:none;
        
    }
  }
   /*Inicio  de diseño del la seccion de servicios home*/


   @media(min-width:992px){
    .clientes {
        background-image: url("img/clientes.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 657px;
    }
    
   }

 /*Inicio  de diseño del carousel con swiper para mobiles*/

 
 .carousel-cubo {
   
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #000;
   margin: 0;
   padding: 0;
 }

 .swiper-container {
    
   width: 92%;
   padding-top: 50px;
   padding-bottom: 50px;
   background-color:#0095FF;
}
 

 .swiper-slide {
     background-color: white;
   background-position: center;
   background-size: cover;
   width: 150px;
   height: 150px;
 }

  /*Fin   de diseño del la seccion de servicios home*/
