
<%- include ('partials/head.html'); -%>

<body >
    <header>
        <%- include ('partials/nav.html'); -%>
        <div class="view w-100 d-flex align-items-end" >
            <!-- Mask & flexbox options-->
            <div class="mask rgba-stylish-strong d-flex justify-content-sm-center" ></div>
                <!-- Content -->
                <div class="container-fluid" >
                        <div class="row"  >
                            <div class="col-12 col-sm-12 col-md-8  px-xl-5 px-lg-5 px-md-4 px-0 px-sm-2 p-5 text-white ">
                                <h2>Somos una Empresa con mucha pasión por nuestro trabajo
                                    y con una proyección a futuro para brindarte un servicio de calidad</h2>
                            </div>
                        </div>
                    </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
    </header>
   
    <main>

 <!-- Vision-->
 
 <div class="contenedor-vision container-fluid d-flex justify-content-sm-center  align-items-lg-between align-items-xl-center ">
   <div class="row">
    <div class=" col-sm-12 col-md-6  col-lg-6 col-xl-6 text-center my-5 ">
        <h2 class="display-3 h1-responsive  font-weight-bold animated heartBeat "> VISIÓN</h2>
        <h4 class="">Ser una Empresa lÍder en tecnologia e informática a nivel nacional, traspasar fronteras y
            aportar beneficios tecnológicos en Latinoamerica siendo reconocido nuestro compromiso con la sociedad
            con una proyección a futuro para brindarte un servicio de calidad</h4>
    </div>
    <div class=" col-lg-5 col-md-5 col-xl-5 col-sm-5   animated fadeInRight imagen-vision d-none d-sm-none d-md-none d-lg-block d-xl-block" data-wow-delay="0.3s">
        <img src="img/nosotros-vision.jpg" alt="" class="img-fluid">
        </div>
   </div>
</div>
<!-- Mision -->
    <div class="contenedor-mision container-fluid d-flex justify-content-end ">
        <div class="col-sm-12 col-md-6  col-lg-6 col-xl-6 text-center  my-5 ">
            <h2 class="display-3 h1-responsive font-weight-bold animated heartBeat "> MISIÓN</h2>
            <h4>Satisfacer las necesidades del cliente en el ambito de la información y tecnología,
                brindarles seguridad y respaldo.Ser reconocidos por la calidad, demostrando
                transparencia y confianza en nostros </h4>
        </div>
    </div>
</main>
</body>

</body>
<%- include ('partials/foot.html'); -%>