<%- include ('partials/head.html'); -%>
<body>
    <header>
        <%- include ('partials/nav.html'); -%>
        <div class="container-fluid  ">
            <div class="row   d-flex justify-content-center  ">               
                <div class="col-md-4 contenedor-servicios  d-flex justify-content-center  pb-xl-5  pb-lg-5  pb-md-5 pb-sm-3 pb-3 d-flex align-items-end ">
                       <div class="text-center">
                            <h1  class=" h1-responsive pt-sm-5 pt-md-5 pt-5  text-white  mt-sm-5 pt-sm-5 font-weight-bold animated heartBeat ">Soporte Técnico</h1>
                            <hr class="hr-light animated zoomInUp">
                            <h3 class="text-center mb-sm-0 mb-md-5 mb-lg-5 mb-xl-5 animated fadeInLeft  text-white"><strong
                                    class="font-weight-bold"> No</strong> dejes que tu máquina deje de <strong
                                    class="font-weight-bold"> Funcionar</strong> </h3>
                            <button type="button" class="btn btn-contactos btn-rounded text-white font-weight-bold  ">
                                    Ver Más  </button>
                            <button type="button" class="btn btn-contactos btn-rounded text-white font-weight-bold  ">
                                   Catálogo  </button>            
                                   <div class="col-md-12"></div>
                       </div> 
                </div>
                <div class=" detalle-mantenimiento recarga-mobile1 ">
                    <h2 class="my-2 pt-2 h3 text-center">Equipos</h2> 
                    <div class="row ">
                            <div class="col-2">
                            <i class="fas fa-check-circle fa-2x indigo-text"></i> 
                            </div>
                    <div class="col-10"> 
                            <h6 class=" py-1 feature-title">Computadoras</h6>
                            <h6 class=" py-1 feature-title">Laptop</h6>
                    <h6 class="py-1 feature-title">Impresoras</h6>
                        <p class=" py-1 grey-text">(Epson L-210,L-395,L-396)
                            </p>
                        <div style="height:15px"></div>
                            </div>
                    </div>
                <h2 class="my-2 h3 text-center">Nivel</h2>
                    <div class="row"> 
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                        </div>'  
                    <div class="col-10">
                    <h6 class=" py-1 feature-title">Hardware</h6>
                        <h6 class=" py-1 pb-3 feature-title">Software</h6>          
                        </p>  
                        <div style="height:15px"></div>
                        </div>
                    </div>
                </div>
                <div class=" text-center col-md-4 contenedor-redes d-flex align-items-end pb-xl-5  pb-lg-5  pb-md-5 pb-sm-3 pb-3">
                <div class="text-center">                 
                        <h1  class="h1-responsive   text-white  mt-sm-5  font-weight-bold animated heartBeat ">Redes</h1>
                        <hr class="hr-light animated zoomInUp">
                        <h3 class="mb-4 text-center  animated fadeInLeft  text-white"><strong
                                class="font-weight-bold">Conecta </strong> tus dispositivos entre sí y con el Mundo</h3>
                        <br> <button type="button" class="btn btn-contactos btn-rounded text-white font-weight-bold  ">
                                Ver Más  </button>
                        <button type="button" class="btn btn-contactos btn-rounded text-white font-weight-bold  ">
                               Catálogo  </button>
                </div>
                </div>
             <div class=" detalle-redes recarga-mobile2">
                <h2 class="my-2  pt-2 h3 text-center">Redes</h2>
                  <div class="row">   
                        <div class="col-2">
                          <i class="fas fa-check-circle fa-2x indigo-text"></i>
                        </div>
                       <div class="col-10">
                          <h6 class=" py-1 feature-title">Servidores</h6>
                           <h6 class="  py-1 feature-title">CCTV-Camaras de Seguridad</h6>
                           <h6 class=" py-1 feature-title">Instalación de Redes</h6>
                             <h6 class=" py-1 feature-title">Configuración y Administracion de Red</h6>
                           <h6 class=" py-1 feature-title">Acceso Remoto</h6>
                           <h6 class=" py-1 feature-title">Gestion de Archivos</h6>
                          <h6 class=" py-1 pb-3 feature-title">Impresión y Archivos en Red</h6>
                            <div style="height:15px"></div>
                           </div>
                           </div>
             </div>
                <div class=" text-center col-md-4 contenedor-software d-flex align-items-end pb-xl-5  pb-lg-5  pb-md-5 pb-sm-3 pb-3">      
                                    <div class="">
                    <h1  class="h1-responsive   text-white  mt-sm-5 text-center font-weight-bold animated heartBeat "> Software</h1>
                    <hr class="hr-light animated zoomInUp">
                    <h3 class="mb-4 text-center  animated fadeInLeft  text-white"><strong
                            class="font-weight-bold"> Disfruta</strong> de los programas y aplicaciones que desarrollamos para ti</h3>
                     <button type="button" class="btn btn-contactos btn-rounded text-white font-weight-bold  ">
                            Ver Más  </button>
                    <button type="button" class="btn btn-contactos btn-rounded text-white font-weight-bold  ">
                           Catálogo  </button>
                </div>
                </div>
                <div class="detalle-software recarga-mobile3 mb-5 pb-5  ">
                    <h2 class="my-2 h3 text-center">Plataformas</h2>   
                      <div class="row">
                    <div class="col-2 px-3">
                           <i class=" pr-5 pr-sm-5  fas fa-check-circle fa-2x indigo-text"></i>  
                         </div>
                   <div class="col-8 px-5">
                          <h6 class=" py-1 feature-title">Escritorio</h6>
                         <h6 class=" py-1 feature-title">Web</h6> 
                         <h6 class=" py-1 feature-title">Mobile</h6>  
                      <div style="height:15px"></div> 
                         </div>
                    </div>
                </div>
            </div>
    </div>
    </header>
    <main > 
        <div class="container-fluid ">
            <div class="row py-5 d-flex justify-content-center recarga-desktop   ">
                <div class="col-md-4  detalle-escritorio-mantenimiento text-center" >
                    <h2 class="my-2 h3 my-2 pl-5 ml-3 text-center">Equipos</h2>   
                    <div class="row">
                        <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i> 
                        </div>
                <div class="col-10">
                        <h6 class="feature-title">Computadoras</h6>
                    <h6 class="feature-title">Laptop</h6>
                <h6 class="feature-title">Impresoras</h6>
                        <p class="grey-text">(Epson L-210,L-395,L-396)
                    </p>
                <div style="height:15px"></div>  
                </div>
                </div>
                <h2 class="my-2 h3  my-2 pl-5 ml-3 text-center">Nivel</h2>
            <div class="row">
                <div class="col-2">
                    <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                    <h6 class="feature-title">Hardware</h6>
                        <h6 class="feature-title">Software</h6>           
                            </p>
                        <div style="height:15px"></div>
                    </div>
                        </div>
                </div>
                <div class="col-md-4  detalle-escritorio-redes text-center" >
                    <h2 class="my-2 pl-5 ml-3 h3 text-center">Redes</h2>
                <div class="row ">   
                        <div class="col-2">
                                    <i class="fas fa-check-circle fa-2x indigo-text"></i>
                                    </div>
                            <div class="col-10">
                                <h6 class="feature-title">Servidores</h6>
                                    <h6 class="feature-title">CCTV-Cámaras de Seguridad</h6>
                                <h6 class="feature-title">Instalación de Redes</h6>
                                    <h6 class="feature-title">Configuración y Administración de Red</h6>
                            <h6 class="feature-title">Acceso Remoto</h6>
                                <h6 class="feature-title">Gestión de Archivos</h6>
                                    <h6 class="feature-title">Impresión y Archivos en Red</h6>
                
                                    <div style="height:15px"></div>
                        </div>
                </div>
                </div>
                <div class="col-md-4  detalle-escritorio-software text-center"  >
                    <h2 class="my-2 my-2 pl-5 ml-3 h3 text-center">Plataformas</h2> 
                    <div class="row ">
                    <div class="col-2">
                    <i class="fas fa-check-circle fa-2x indigo-text"></i>'  
                    </div>
                <div class="col-10">
                    <h6 class="feature-title">Escritorio</h6>
                        <h6 class="feature-title">Web</h6>
                        <h6 class="feature-title">Mobile</h6>
                        <div style="height:15px"></div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </main>
<%- include ('partials/foot.html'); -%>