.top-nav-collapse {
    background-color: #0070C0 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #0070C0 !important;
    }
}