</body>
<footer class="fixed-bottom page-footer font-small "style="bottom:0px; ">
    <div class="social social-media-escritorio">
        <ul>
      <li> <a href="https://www.facebook.com/fixblueperu/" target="_blank" class="fab fa-facebook-f"></a></li>
      <li> <a href=""  class="fab fa-twitter"></a></li>
      
      <li> <a href="https://m.me/fixblueperu" target="_blank" class="fab fa-facebook-messenger"></a></li>
      <li> <a href="https://api.whatsapp.com/send?phone=51936763606" data-action="share/whatsapp/share" target="_blank" class="fab fa-whatsapp"></a></li>
      <li> <a href="https://www.instagram.com/fixblueperu/" target="_blank" class="fab fa-instagram insta-redes"></a></li>
   
    </ul>
     </div>
   
        <div class="container-fluid social-media-mobile pt-2" >
      
          <!-- Social buttons -->
          <ul class="list-unstyled list-inline text-center ">
            <li class="list-inline-item">
            <a class="btn-floating btn-lg " href="https://m.me/fixblueperu" target="_blank" style="background-color:#3b5998; border-radius: 50%;"><i class="fab fa-facebook-f fa-xs"></i></a>
            </li>
                        <li class="list-inline-item">
              <a class="btn-floating btn-lg " href="https://m.me/fixblueperu" target="_blank" style="background-color:#0084ff; border-radius: 50%;"><i class="fab fa-facebook-messenger fa-xs"></i></a>
           
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-lg " href="https://api.whatsapp.com/send?phone=51936763606" data-action="share/whatsapp/share" target="_blank" style="background-color:#25d366; border-radius: 50%;"><i class="fab fa-whatsapp fa-xs"></i></a>
           
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-lg "href="https://www.instagram.com/fixblueperu/" target="_blank" style="background-color:#e1306c; border-radius: 50%;"><i class="fab fa-instagram fa-xs"></i></a>
           
            </li>
           
          </ul>
          <!-- Social buttons -->
      
        </div>

        <!-- Copyright -->
   <div class="footer-copyright text-center py-3 ">© 2020 
    <a href="www.fixblue.com"> WWW.FIXBLUE.COM</a>
  </div>
</footer>
<script type="text/javascript" src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"> </script>
<script type="text/javascript" src="js/resize.js"></script>
<script type="text/javascript" src="js/carousel-swiper.js"></script>
<script type="text/javascript" src="js/email.js"></script>


</html>