<nav class="navbar navbar-dark navbar-expand-lg  fixed-top scrolling-navbar">
    <a class="navbar-brand ml-3 font-weight-bold " href="#" id="brand_enterprise ">
        <img src="img/logotipo.png"  height="30" alt="Blue logo"> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent-333">

        <ul class="navbar-nav ml-auto  font-weight-bold ">

            <li class=" text-center nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-door-open"  ></i>
                    <p> Home</p>

                </a>
            </li>
            <li class=" text-center nav-item ">
                <a class="nav-link" href="/services">
                    <i class="fas fa-desktop "></i>
                    <p>Servicios</p>

                </a>
            </li>
            <li class=" text-center nav-item">
                <a class="nav-link" href="/technology">
                    <i class="fas fa-atom"></i>
                    <p>Tecnologias</p>

                </a>
            </li>
            <li class=" text-center nav-item">
                <a class="nav-link" href="/we">
                    <i class="fas fa-users"></i>
                    <p>Nosotros</p>

                </a>
            </li>
            <li class=" text-center nav-item">
                <a class="nav-link" href="/contact">
                    <i class="far fa-address-card"></i>
                    <p class="font-weight-bold">Contacto</p>

                </a>
            </li>
            <li class=" text-center nav-item">
                <a class="nav-link">
                    <i class="fas fa-phone "></i>
                    <p class="">936763606</p>

                </a>
            </li>
        </ul>
    </div>
</nav>